<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.development.SuiraApp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/suira_logo"
        android:label="Suira"
        android:roundIcon="@mipmap/suira_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Adapters.AplicantsAdapter"></activity>
        <activity android:name=".Activities.Opportunities.HomeUserClient"></activity>
        <activity android:name=".Activities.AplicantesOportunidad"></activity>
        <activity android:name=".Activities.Authentication.RegisterTags" />
        <activity android:name=".PopUps.PopUpContactInfo" />
        <activity android:name=".PopUps.InfoPopUp" />
        <activity android:name=".Activities.ProfileTest" />
        <activity android:name=".PopUps.PopUp" />
        <activity android:name=".Activities.ClientService.SCHome" />
        <activity android:name=".Activities.Opportunities.CreateOpportunity2" />
        <activity android:name=".Activities.Authentication.Register2" />
        <activity android:name=".Activities.Authentication.LandingPage" />
        <activity android:name=".Activities.Authentication.Register" />
        <activity android:name=".Activities.Opportunities.CreateOpportunity" />
        <activity android:name=".Fragments.Opportunities.Home_Tab"/>
        <activity android:name=".Activities.Opportunities.Notifications" />
        <activity android:name=".Activities.Opportunities.OpportunityInfo"/>
        <activity android:name=".Activities.Authentication.AditionalInfo"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Authentication.ForgotPassword" />
        <activity android:name=".Activities.Authentication.LogIn" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>