<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.development.SuiraApp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/suira_logo"
        android:label="Suira"
        android:roundIcon="@mipmap/suira_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.InfoPopUp"></activity>
        <activity android:name=".Activities.ProfileTest" />
        <activity android:name=".Activities.PopUp" />
        <activity android:name=".Activities.CreateOpportunity2" />
        <activity android:name=".Activities.Register2" />
        <activity android:name=".Activities.LandingPage" />
        <activity android:name=".Activities.Register" />
        <activity android:name=".Activities.CreateOpportunity" />
        <activity android:name=".Activities.Notifications" />
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ForgotPassword" />
        <activity android:name=".Activities.LogIn" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>